//Primary Colors
$colorRed: hsl(0, 100%, 74%);
$colorGreen: hsl(154, 59%, 51%);
$colorGreenHover: hsl(154, 57%, 45%);

//Accent
$colorBlue: hsl(248, 32%, 49%);
$colorBlueHover: hsl(248, 33%, 44%);

//Color nautral
$colorDarkBlue: hsl(249, 10%, 26%);
$colorGrayishBlue: hsl(246, 25%, 77%);